<header class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto pt-12">
    <svg viewBox="0 0 86 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.5625 0.272727H3.51136L5.53977 5.21591H5.64205L7.67045 0.272727H10.6193V9H8.30114V3.95455H8.23295L6.28977 8.93182H4.89205L2.94886 3.92045H2.88068V9H0.5625V0.272727ZM11.7422 9V0.272727H18.032V2.18182H14.1115V3.68182H17.7081V5.59091H14.1115V7.09091H18.0149V9H11.7422ZM18.9684 2.18182V0.272727H26.5536V2.18182H23.9286V9H21.5934V2.18182H18.9684ZM28.6108 9H26.054L28.9347 0.272727H32.1733L35.054 9H32.4972L30.5881 2.67614H30.5199L28.6108 9ZM28.1335 5.55682H32.9403V7.32955H28.1335V5.55682ZM43.6321 3.54545H41.2287C41.2116 3.34659 41.1662 3.16619 41.0923 3.00426C41.0213 2.84233 40.9219 2.70312 40.794 2.58665C40.669 2.46733 40.517 2.37642 40.3381 2.31392C40.1591 2.24858 39.956 2.21591 39.7287 2.21591C39.331 2.21591 38.9943 2.3125 38.7188 2.50568C38.446 2.69886 38.2386 2.97585 38.0966 3.33665C37.9574 3.69744 37.8878 4.13068 37.8878 4.63636C37.8878 5.17045 37.9588 5.6179 38.1009 5.97869C38.2457 6.33665 38.4545 6.60653 38.7273 6.78835C39 6.96733 39.3281 7.05682 39.7116 7.05682C39.9304 7.05682 40.1264 7.02983 40.2997 6.97585C40.473 6.91903 40.6236 6.83807 40.7514 6.73295C40.8793 6.62784 40.983 6.50142 41.0625 6.35369C41.1449 6.20312 41.2003 6.03409 41.2287 5.84659L43.6321 5.86364C43.6037 6.23295 43.5 6.60937 43.321 6.9929C43.142 7.37358 42.8878 7.72585 42.5582 8.04972C42.2315 8.37074 41.8267 8.62926 41.3438 8.82528C40.8608 9.02131 40.2997 9.11932 39.6605 9.11932C38.8594 9.11932 38.1406 8.94744 37.5043 8.60369C36.8707 8.25994 36.3693 7.75426 36 7.08665C35.6335 6.41903 35.4503 5.60227 35.4503 4.63636C35.4503 3.66477 35.6378 2.84659 36.0128 2.18182C36.3878 1.5142 36.8935 1.00994 37.5298 0.669034C38.1662 0.325284 38.8764 0.153409 39.6605 0.153409C40.2116 0.153409 40.7188 0.228693 41.1818 0.379261C41.6449 0.529829 42.0511 0.75 42.4006 1.03977C42.75 1.3267 43.0313 1.6804 43.2443 2.10085C43.4574 2.52131 43.5866 3.00284 43.6321 3.54545ZM44.707 9V0.272727H47.0763V7.09091H50.6048V9H44.707ZM53.8295 9H51.2727L54.1534 0.272727H57.392L60.2727 9H57.7159L55.8068 2.67614H55.7386L53.8295 9ZM53.3523 5.55682H58.1591V7.32955H53.3523V5.55682ZM65.478 3C65.4553 2.71591 65.3487 2.49432 65.1584 2.33523C64.9709 2.17614 64.6854 2.09659 64.3018 2.09659C64.0575 2.09659 63.8572 2.12642 63.701 2.18608C63.5476 2.2429 63.4339 2.32102 63.3601 2.42045C63.2862 2.51989 63.2479 2.63352 63.245 2.76136C63.2393 2.86648 63.2578 2.96165 63.3004 3.04688C63.3459 3.12926 63.4169 3.20455 63.5135 3.27273C63.6101 3.33807 63.7337 3.39773 63.8842 3.4517C64.0348 3.50568 64.2138 3.55398 64.4212 3.59659L65.1371 3.75C65.62 3.85227 66.0334 3.98722 66.3771 4.15483C66.7209 4.32244 67.0021 4.51989 67.2209 4.74716C67.4396 4.97159 67.6001 5.22443 67.7024 5.50568C67.8075 5.78693 67.8615 6.09375 67.8643 6.42614C67.8615 7 67.718 7.4858 67.4339 7.88352C67.1499 8.28125 66.7436 8.58381 66.2152 8.79119C65.6896 8.99858 65.0575 9.10227 64.3189 9.10227C63.5604 9.10227 62.8984 8.99006 62.3331 8.76562C61.7706 8.54119 61.3331 8.19602 61.0206 7.73011C60.7109 7.26136 60.5547 6.66193 60.5518 5.93182H62.8018C62.8161 6.19886 62.8828 6.4233 63.0021 6.60511C63.1214 6.78693 63.2891 6.92472 63.505 7.01847C63.7237 7.11222 63.9837 7.15909 64.2848 7.15909C64.5376 7.15909 64.7493 7.12784 64.9197 7.06534C65.0902 7.00284 65.2195 6.91619 65.3075 6.8054C65.3956 6.6946 65.4411 6.56818 65.4439 6.42614C65.4411 6.29261 65.397 6.17614 65.3118 6.0767C65.2294 5.97443 65.093 5.88352 64.9027 5.80398C64.7124 5.72159 64.4553 5.64489 64.1314 5.57386L63.2621 5.38636C62.4893 5.21875 61.88 4.93892 61.4339 4.54688C60.9908 4.15199 60.7706 3.61364 60.7734 2.93182C60.7706 2.37784 60.9183 1.89347 61.2166 1.47869C61.5178 1.06108 61.9339 0.735795 62.4652 0.502841C62.9993 0.269886 63.6115 0.153409 64.3018 0.153409C65.0064 0.153409 65.6158 0.271307 66.13 0.507102C66.6442 0.742898 67.0405 1.07528 67.3189 1.50426C67.6001 1.9304 67.7422 2.42898 67.745 3H65.478ZM73.4702 3C73.4474 2.71591 73.3409 2.49432 73.1506 2.33523C72.9631 2.17614 72.6776 2.09659 72.294 2.09659C72.0497 2.09659 71.8494 2.12642 71.6932 2.18608C71.5398 2.2429 71.4261 2.32102 71.3523 2.42045C71.2784 2.51989 71.2401 2.63352 71.2372 2.76136C71.2315 2.86648 71.25 2.96165 71.2926 3.04688C71.3381 3.12926 71.4091 3.20455 71.5057 3.27273C71.6023 3.33807 71.7259 3.39773 71.8764 3.4517C72.027 3.50568 72.206 3.55398 72.4134 3.59659L73.1293 3.75C73.6122 3.85227 74.0256 3.98722 74.3693 4.15483C74.7131 4.32244 74.9943 4.51989 75.2131 4.74716C75.4318 4.97159 75.5923 5.22443 75.6946 5.50568C75.7997 5.78693 75.8537 6.09375 75.8565 6.42614C75.8537 7 75.7102 7.4858 75.4261 7.88352C75.142 8.28125 74.7358 8.58381 74.2074 8.79119C73.6818 8.99858 73.0497 9.10227 72.3111 9.10227C71.5526 9.10227 70.8906 8.99006 70.3253 8.76562C69.7628 8.54119 69.3253 8.19602 69.0128 7.73011C68.7031 7.26136 68.5469 6.66193 68.544 5.93182H70.794C70.8082 6.19886 70.875 6.4233 70.9943 6.60511C71.1136 6.78693 71.2813 6.92472 71.4972 7.01847C71.7159 7.11222 71.9759 7.15909 72.277 7.15909C72.5298 7.15909 72.7415 7.12784 72.9119 7.06534C73.0824 7.00284 73.2116 6.91619 73.2997 6.8054C73.3878 6.6946 73.4332 6.56818 73.4361 6.42614C73.4332 6.29261 73.3892 6.17614 73.304 6.0767C73.2216 5.97443 73.0852 5.88352 72.8949 5.80398C72.7045 5.72159 72.4474 5.64489 72.1236 5.57386L71.2543 5.38636C70.4815 5.21875 69.8722 4.93892 69.4261 4.54688C68.983 4.15199 68.7628 3.61364 68.7656 2.93182C68.7628 2.37784 68.9105 1.89347 69.2088 1.47869C69.5099 1.06108 69.9261 0.735795 70.4574 0.502841C70.9915 0.269886 71.6037 0.153409 72.294 0.153409C72.9986 0.153409 73.608 0.271307 74.1222 0.507102C74.6364 0.742898 75.0327 1.07528 75.3111 1.50426C75.5923 1.9304 75.7344 2.42898 75.7372 3H73.4702ZM76.3999 0.272727H79.0419L80.7464 3.81818H80.8146L82.5192 0.272727H85.1612L81.9567 6.25568V9H79.6044V6.25568L76.3999 0.272727Z"
      fill="#FF1000"/>
      </svg>      
  </div>

  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center">
        <div class="flex gap-3 items-center">
          <h2 class="text-secondary text-xs font-medium">
            <span>Mac & iOS</span><span class="font-bold"> development studio</span>
          </h2>
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://github.com/metaclassy"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
            <li>
              <a
                href="https://twitter.com/metaclassy"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M15.3 5.55a2.9 2.9 0 0 0-2.9 2.847l-.028 1.575a.6.6 0 0 1-.68.583l-1.561-.212c-2.054-.28-4.022-1.226-5.91-2.799-.598 3.31.57 5.603 3.383 7.372l1.747 1.098a.6.6 0 0 1 .034.993L7.793 18.17c.947.059 1.846.017 2.592-.131 4.718-.942 7.855-4.492 7.855-10.348 0-.478-1.012-2.141-2.94-2.141zm-4.9 2.81a4.9 4.9 0 0 1 8.385-3.355c.711-.005 1.316.175 2.669-.645-.335 1.64-.5 2.352-1.214 3.331 0 7.642-4.697 11.358-9.463 12.309-3.268.652-8.02-.419-9.382-1.841.694-.054 3.514-.357 5.144-1.55C5.16 15.7-.329 12.47 3.278 3.786c1.693 1.977 3.41 3.323 5.15 4.037 1.158.475 1.442.465 1.973.538z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
            <li>
              <a
                href="mailto:contact@metaclassy.com"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="h-1.5 bg-secondary">
      </div>
      <div class="h-3 bg-secondary">
      </div>
      <div class="h-6 bg-secondary">
      </div>
    </div>
  </div>
</header>
